@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-height {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
  }
  
  .expanded {
    max-height: 1000px; /* Arbitrary large value */
  }
  